<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/style.css">
    <title>Character Selection</title>
</head>
<body>
    <header>
        <h1>Select your character</h1>
        <p class="characterName"></p>
    </header>
    <main>
        <div class="divSet">

        </div>


        <div id="navigationSection">
            <a id="previousCharacter">previous<img src="https://cdn-icons-png.flaticon.com/128/608/608283.png"></a>
            <a id="nextCharacter"><img src="https://cdn-icons-png.flaticon.com/128/626/626043.png">next</a>
        </div>
    </main>


    <script src="../scripts/main.js"></script>
</body>
</html>