<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/people.css">
    <title class="characterName"></title>
</head>
<body>
    <header>
        <h1>Character</h1>
    </header>
    <main>
        <div id="mainSection">
            <h2 class="characterName"></h2>
            <p class="characterHeight"></p>
            <a href="#" class="characterPlanet">Show Planet</a>
        </div>
        <div id="navigationSection">
            <a id="previousCharacter">previous<img src="https://cdn-icons-png.flaticon.com/128/608/608283.png"></a>
            <a id="nextCharacter"><img src="https://cdn-icons-png.flaticon.com/128/626/626043.png">next</a>
        </div>
    </main>



<a link href="planets.html">Link to planet page</a>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="../scripts/people.js"></script>
</body>

</html>