<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/planets.css">
    <title class="planetName"></title>
</head>
<body>
    <header>
        <h1>Planet</h1>
    </header>
    <main>
        <div id="mainSection">
            <h2 class="planetName"></h2>
            <p class="planetTerrain"></p>
        </div>
        <div id="navigationSection">
            <a id="previousPlanet">previous<img src="https://cdn-icons-png.flaticon.com/128/608/608283.png"></a>
            <a id="nextPlanet"><img src="https://cdn-icons-png.flaticon.com/128/626/626043.png">next</a>
        </div>
    </main>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="../scripts/planets.js"></script>
</body>

</html>